.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #6411ad;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  