.foot {
    background-color: #28627D;
    color: black;
    height: 200px;
    width: 100%;
  }
 
.footer-text {
    font-size: 20px;
}

.black-text {
    color: black;
}

.footer-link:hover {
    color: lightslategray;
}
