a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  .onlyshare{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
  }
  .onlyshare:hover{
    color:pink
  }
  a.navbar-brand img {
    margin-right: 10px;
  }
  
  html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6411ad;
    padding: 10px;
    justify-content: flex-end;
  }
  
  
  .navbar .mx-auto input {
    width: 100%;
    max-width: 300px;
  }
  
  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-toggle::after {
    margin-left: 5px;
  }
  
  .dropdown-menu {
    min-width: auto;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  
  .dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  .searchbar{
    width: 500px;
  }
  .searchbtn{
    background-color: white;

  }
  .searchbar .input-group-text {
    background-color: #fff;
    border: none;
  }
  
  .searchbar .input-group-text button {
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    
  }
  .dropdown:hover{
    color: aliceblue;
  }
  
  .dropdown-item {
    font-size: 15px;
    
  }

  .dropdown-toggle img {
    height: 35px;
    margin-right: 0.5rem;
    width: 35px;
  }
  
  @media (max-width: 768px) {
    .searchbar {
      width: 100%;
      margin-bottom: 10px;
    }
    .navbar {
      flex-direction: column;
    }
  }
  
  @media (min-width: 769px) {
    .navbar .searchbar-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-right: 33.5%;
    }
  }
 
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .onlyshare {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .onlyshare {
    font-size: 24px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .onlyshare {
    font-size: 28px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .onlyshare {
    font-size: 32px;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
}



.create-question-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 1rem;
}

.create-question-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 2rem;
}

.create-question-icon img {
  height: 35px;
  width: 35px;
}
