.post-text {
    color: #5bc0de;
    font-family: SansSerif;
    font-size: 40px;
}

.square-left {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, #5bc0de 35%, transparent 45%, transparent 51%, #f0ad4e 61%);
    transform: rotate(25deg);
}

.square-right {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, #5bc0de 25%, transparent 45%, transparent 51%, #f0ad4e 71%);
    transform: rotate(-200deg);
}